header {
    background-color: black;
    text-align: center;
    margin-left: -8px;
    margin-top: -8px;
    margin-right: -8px;
    margin-bottom: 15px;
}

header > div {
    padding: 1px;
    
}

h1 {
    color: whitesmoke;
}

h4 {
    color: white;
}

body {
    background-color: #292929;
    font-family: Constantia;
    
}

h2 {
    color: white;
}

p, li {
    color: lightgrey;
}

hr {
    width: 50%;
}

div {
    margin: auto;
    width: 50%;
}

img {
    margin: auto;
    display: block;
}

a:link    { color: palevioletred;  }
a:visited { color: plum;   }
a:hover   { color: violet; }
a:active  { color: pink;  }