header {
    background-color: black;
    text-align: center;

}

h1 {
    color: whitesmoke;
}

h4 {
    color: white;
}

body {
    background-color: #292929;
    font-family: Constantia;
    
}

h2 {
    color: white;
}

p, li {
    color: lightgrey;
}

hr {
    width: 50%;
}

div {
    margin: auto;
    width: 50%;
}

img {
    margin: auto;
    display: block;
}