/* Marging specifics to ensure header fits page without whitespace */

header {
    background-color: black;
    text-align: center;
    margin-left: -8px;
    margin-top: -8px;
    margin-right: -8px;
    margin-bottom: 15px;
}

header > div {
    padding: 1px;
    
}

h1 {
    color: whitesmoke;
    font-size: 30px;
}

h4 {
    color: white;
}

body {
    background-color: #292929;
    font-family: Constantia;
    
}

h2 {
    color: white;
}

p, li {
    color: lightgrey;
}

/* Reducing width of line breaks to better match the size of body elements */

hr {
    width: 50%;
    height: 1px;
    color: white;
}

div {
    margin: auto;
    width: 50%;
    margin-bottom: 30px;
}

img {
    margin: auto;
    display: block;
    width: 20%;
    margin-bottom: 80px;
}

/* Psuedo-classes used to style different states of my social links */
a:link    { color: palevioletred;  }
a:visited { color: plum;   }
a:hover   { color: violet; }
a:active  { color: pink;  }